.CartHeadingRow {
    display: flex;
    background-color: rgb(44, 44, 44);
    color: white;
    border-bottom: 1px solid #9c786c;
    height: 50px;
}

.ItemName {
    flex: 2;
}

.ItemPrice {
    border-left: 1px solid #9c786c;
    border-right: 1px solid #9c786c;
    flex: 2;
    height: 100%;
    padding-top: 13px;
}

.Action {
    flex: 1;
}

.CartHeadingRow p {
    margin: auto;
}